<footer>
    <div class="cadre">
        <p>N'hésitez pas....<a href="#contact" id="contact">Contactez-moi</a></p>
        <p><i class="fas fa-mobile-alt"></i> 06 89 13 75 97</p>
        <p img="public/img/git.jpg"></p>
    </div>
</footer>