<header class="filtreHeader">
    <div class="header">
        <nav class="items">
            <ul class="navContainer">
                <li class="nav"><a href="#propos">A propos de moi</a></li>
                <li class="nav"><a href="#parcours">Parcours</a></li>
                <li class="nav"><a href="#experience">Expériences</a></li>
                <li class="nav"><a href="#competence">Compétences</a></li>
                <li class="nav"><a href="#portfolio">Portfolio</a></li>
                <li class="nav"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>